* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./images/The-Met-Logo-2016-1024x768-Opac.png"), url("./images/MetImage1024_1.jpg");
  background-size: cover;
}

.header {
  text-align: center;
  padding: 12px;
}

.header img {
  width: 100px;
  height: 100px;
}

.header h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32pt;
  font-weight: bold;
  color: #8b0000;
}

.header p {
  font-size: 24pt;
  font-weight: bold;
}

.scrollselector p {
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
}

.scrollmenu {
  background-color: #8b0000;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scrollmenu a:hover {
  background-color: #777;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.column p {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

.footer {
  background-color: #8b0000;
  overflow: auto;
  white-space: nowrap;
}

.footer-item {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
